* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
}

main {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu {
    position: fixed;
}

#game {
    /* position: fixed; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    /* position: fixed; */
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}

#board div {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board-controls {
    border: 1px solid black;
    margin-left: 10px;
}