/* theme specific styles */
:root.dark {
    --background-color: #212529;
    --font-color: #F8F9FA;
    --highlight-color: #6C757D;
    --square-color: #343A40;
    --highlight-secondary-color: #495057;
    --backdrop-color: rgba(255, 255, 255, 0.1);
    --backdrop-secondary-color: rgba(255, 255, 255, 0.4);
}

:root.light {
    --background-color: #F8F9FA;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    color: var(--font-color);
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    /* font-size: 24px; */
}

main {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu {
    position: fixed;
    display: block;
    width: 500px;
    margin: auto;
}

/* input container & submit */
#menu form div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

/* input & label */
#menu form div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu form div div h2 {
    margin: auto;
    margin-bottom: 25px;
    font-size: 70px;
}

#menu form div div label {
    font-size: 12px;
}

input {
    height: 40px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.01);
    /* background-color: var(--backdrop-color); */
    border: 0px;
    border-bottom: 1px solid var(--font-color);
    color: var(--font-color);
    outline: none;
}

input[type="submit"] {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: var(--highlight-color);
    border: 0px;
    font-weight: 600;
    font-size: 18px;
    /* opacity: 0.7; */
}

#game {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board {
    /* position: fixed; */
    /* border: 1px solid black; */
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    gap: 15px;
}
/* square style */
#board div {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 600;
    border-radius: 30%;
    background-color: var(--square-color);
}

#board-controls {
    width: 500px;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    background-color: var(--backdrop-color);
    border-radius: 12px;
}

#board-controls .player-div {
    /* height: 50px; */
    padding: 0px 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

#board-controls div p {
    font-size: 24px;
    font-weight: 600;
}

.highlight {
    background-color: var(--highlight-color);
}

#board div:is(.highlight) {
    background-color: var(--highlight-color);
}

dialog[open] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 0px;
    outline: none;
    height: 100px;
    width: 200px;
    border-radius: 12px;
    background-color: var(--backdrop-secondary-color);
}

dialog[open] form {
    display: flex;
    flex-direction: column;
    align-items: center;
}